boby{background-color:#1e5858;text-align:jvsf1;font: size 18px;}
h1{text-align:center;background-color:#2fbdba;color: #17313b;}
h3{text-align:justify:color:#1f7a79;}
b{color:blue;font-sige 18px;}
header,footer{background: color #3b7083;color:#ceeffc;text-align:center;font: sige 20px;}
main{background-color:#8ddefc;}
.primeroparagrafo{text-align:justify;font: sige 18px;border:black solid 2px;padding: 10px;margin: 10px;}
.segundoparagrafo{tex-align:justify;font: sige 10px;border:black solid 2px;podding: 10px;margin: 10px;}
#tituloimagem{width: 5%; height: 5%;}
#lista{display: inline-block